<!DOCTYPE html>
<html<%= config.language ? " lang=" + config.language.substring(0, 2) : ""%>>
<%- partial('_partial/head') %>
<body class="max-width mx-auto px3 <%- theme.direction -%>">
    <% if (is_post()) { %>
      <%- partial('_partial/post/actions_desktop') %>
    <% } %>
    <div class="content index py4">
        <% if (!is_post()) { %>
          <%- partial('_partial/header') %>
        <% } %>
        <%- body %>
        <% if (is_post()) { %>
          <%- partial('_partial/post/actions_mobile') %>
        <% } %>
        <%- partial('_partial/footer') %>
    </div>
    <%- partial('_partial/styles') %>
    <%- partial('_partial/scripts') %>
</body>
</html>
<script type="text/javascript">
  // 切换 背景主题
  function switchNightMode() {
    $("body").hasClass("LightMode")
      ? ($("body").removeClass("LightMode"),
        localStorage.setItem("themeMode", "dark"),
        $("#nightMode").removeClass("fa-lightbulb-o").addClass("fa-moon-o"))
      : ($("body").addClass("LightMode"),
        localStorage.setItem("themeMode", "white"),
        $("#nightMode").removeClass("fa-moon-o").addClass("fa-lightbulb-o"))
  }
</script>
<script type="text/javascript">
  document.addEventListener('DOMContentLoaded', (event) => {
    (localStorage.getItem('themeMode') === 'dark') 
      ? (
        document.querySelector('body').classList.remove('dark'),
        $("#nightMode").removeClass("fa-lightbulb-o").addClass("fa-moon-o")
      )
      :(
        $("body").addClass("LightMode"),
        $("#nightMode").removeClass("fa-moon-o").addClass('fa-lightbulb-o')
      )
  })
</script>
<div onclick="switchNightMode()" id="sma" title="切换主题">
  <i class="fa fa-moon-o" id="nightMode"  aria-hidden="false"></i>
</div>
